# Core ML and Data Science
numpy==1.26.4
pandas==2.2.3
scikit-learn==1.5.2
matplotlib==3.9.2
yfinance==0.2.44

# TensorFlow for M1 Mac
tensorflow-macos==2.16.2
#tensorflow-metal==1.1.0
tensorflow-io-gcs-filesystem==0.37.1
keras==3.6.0

# TensorFlow Dependencies
absl-py==2.1.0
astunparse==1.6.3
flatbuffers==24.3.25
gast==0.6.0
google-pasta==0.2.0
h5py==3.12.1
opt_einsum==3.4.0

# Neptune.ai
neptune==1.12.0
neptune-tensorflow-keras==2.2.2

# Database and Django
Django==4.2.16
psycopg2-binary==2.9.10
supabase==2.9.1
python-dotenv==1.0.1